[Unit]
Description=Test der autostartfunktion. 
After=local-fs.target
Before=network.target


[Service]
ExecStart=/usr/bin/python3 /home/pi/python_scripts/test_scripts/test_autostart.py
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=network.target
